    <p></p>
    <p></p>
    <div class="row align-items-start"
         style="background-color: black; color: white; font-size: xx-small; padding: 8px;">
        <div class="col">
            <p>This material is based upon work supported by the National Science Foundation and the National
                Endowment for the Humanities.</p>
            <p>Any opinions, findings, and conclusions or recommendations expressed in this material are those
                of the author(s) and do not necessarily reflect the views of the National Science Foundation or
                the National Endowment for the Humanities.</p>
        </div>
        <div class="col">
            <a href="http://www.nsf.gov">
                <img src="assets/nsf-small.jpg" alt="NSF logo">
            </a>
            National Science Foundation, Division of Behavioral &amp; Cognitive Sciences, Linguistics, Grant
            Nos. BNS-86-17726, BNS-90-11918, DBS-92-09481, FD-95-11034, SBR-9808952, BCS-9904950, BCS-0345929,
            BCS-0712570, BCS-1028192.
        </div>
        <div class="col">
            <a href="http://www.neh.gov">
                <img src="assets/neh-small.jpg" alt="NEH logo">
            </a>
            National Endowment for the Humanities, Division of Research Programs, Grant Nos. RT-20789-87,
            RT-21203-90, RT-21420-92; Preservation &amp; Access Reference Materials, Grant Nos. PA-22843-96,
            PA-23353-99, PA-24168-02, PA-50709-04, PM-50072-07, PW-50674-10.
        </div>
        <div class="col">
            <a href="http://linguistics.berkeley.edu">
                <img src="assets/ucb-small.jpg" alt="UC Berkeley seal">
            </a>
            The STEDT Project is hosted by the Department of Linguistics at the University of California,
            Berkeley.<br><br>© 2010–2023 The Regents of the University of California
        </div>
        <!-- div class="col">
            email us at: <a href="mailto:stedt@berkeley.edu"><img src="assets/stedt-email.gif"></a>
        </div -->
